.Btn {
	background-clip: padding-box;
	background-color: #ffffff;
	border-radius: 3px;
	border: none;
	box-sizing: border-box;
	box-shadow: inset 0 0 0 1px #cccccc;
	color: #323232;
	cursor: pointer;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Roboto', 'Noto', sans-serif;
	font-size: .725em;
	font-weight: 600;
	line-height: 36px;
	letter-spacing: 0;
	margin: .25em;
	min-height: 36px;
	overflow: hidden;
	padding: 0 24px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	text-overflow: ellipsis;
	-webkit-transition: none;
	-webkit-transition: -webkit-box-shadow 0.2s ease;
	-webkit-transition: box-shadow 0.2s ease;
	transition: box-shadow 0.2s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

.Btn:hover,
.Btn:focus {
	opacity: 0.9;
	outline: 0;
}

.Btn:active {
	opacity: 1;
}

.Btn:disabled,
.Btn[disabled] {
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: not-allowed;
	opacity: 0.5;
}

.Btn--disabled {
	background-color: #e0e0e0;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #424242;
	cursor: not-allowed;
	opacity: 0.5;
}

/* Custom styles modifiers */

.Btn--primary {
	background-color: #009688;
	color: #fff;
	box-shadow: inset 0 0 0 1px #00796B;
}
.Btn--light {
	color: #fff !important;
}
.Btn--dark {
	color: #262626 !important;
}
.Btn--squared {
	border-radius: 0;
}

.Btn--narrow {
	border-radius: 2px;
	font-size: .725em;
	font-weight: 600;
	padding: 0 1.5em;
	line-height: 30px;
	min-height: 0;
}