
/* Button - administrative/internal pages style */

.Btn {
	background-clip: padding-box;
	background-color: transparent;
	border-radius: 0;
	border: none;
	box-sizing: border-box;
	color: #7d381b;
	box-shadow: inset 0 0 0 2px #6e3118;
	cursor: pointer;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.125em;
	font-weight: bold;
	line-height: 40px;
	letter-spacing: 0;
	min-height: 36px;
	overflow: hidden;
	padding: 0 24px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	text-overflow: ellipsis;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

.Btn:hover,
.Btn:focus {
	outline: 0;
	background-color: #6e3118;
	color: #fafafa;
}

.Btn:active {
	opacity: 1;
}

.Btn:disabled,
.Btn[disabled] {
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: not-allowed;
	opacity: 0.5;
}

.Btn--disabled {
	background-color: #e0e0e0;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #424242;
	cursor: not-allowed;
	opacity: 0.5;
}

/* Custom styles modifiers */

.Btn--primary {
	/*background-color: #7d381b;*/
	color: #7d381b;
	/*color: #fff;*/
	box-shadow: inset 0 0 0 2px #6e3118;
}

.Btn--filled {
	background-color: #7d381b;
	color: #fafafa;
	box-shadow: inset 0 0 0 2px #6e3118;
}

.Btn--filled.Btn--success,
.Btn--filled.Btn--turnon {
	background-color: #2E7D32;
	color: #fafafa;
	box-shadow: inset 0 0 0 2px #1B5E20;
}

.Btn--filled.Btn--error,
.Btn--filled.Btn--cancel,
.Btn--filled.Btn--turnoff {
	background-color: #C62828;
	color: #fafafa;
	box-shadow: inset 0 0 0 2px #B71C1C;
}

.Btn--light {
	color: #fff !important;
}

.Btn--dark {
	color: #262626 !important;
}

.Btn--squared {
	border-radius: 0;
}

.Btn--rounded {
	border-radius: 3px;
}

.Btn--white {
	color: #fff;
	box-shadow: inset 0 0 0 2px #fafafa;
}

.Btn--white.Btn:hover,
.Btn--white.Btn:focus {
	outline: 0;
	background-color: #e1e1e1;
	color: #000;
}

.Btn--narrow {
	font-size: .875em;
	font-weight: 600;
	padding: 0 1.5em;
	line-height: 30px;
	min-height: 0;
}

.Btn--preserve-case {
	text-transform: none;
}