
/* Button - General Button */

.ButtonStyle {
	background-clip: padding-box;
	background-color: transparent;
	background-image: url('../img/svg/btn-crop.svg');
	background-size: 100% 100%;
	/*border: none;*/
	/*border: 3px solid #cccccc;*/
	/*border-radius: 3px;*/
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*font-size: .875em;*/
	/*font-weight: 500;*/
	/*line-height: 36px;*/
	/*letter-spacing: 0;*/
	margin: .25em;
	/*min-height: 36px;*/
	overflow: hidden;
	/*padding: 0 24px;*/
	/*padding: .725em 1em;*/

	padding: .5em 1.75em;
	min-width: 100px;
	min-height: 24px;
	line-height: 24px;
	font-size: 1em;/**/
	font-weight: 700;

	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	text-overflow: ellipsis;
	/*-webkit-transition: none;*/
	/*-webkit-transition: background-color 0.3s ease;*/
	/*-moz-transition: background-color 0.3s ease;*/
	/*-o-transition: background-color 0.3s ease;*/
	/*transition: background-color 0.3s ease;*/
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

.Button {
	background-clip: padding-box;
	background-color: transparent;
	/*border: none;*/
	border: 3px solid #cccccc;
	border-radius: 3px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: .875em;
	font-weight: 500;
	/*line-height: 36px;*/
	/*letter-spacing: 0;*/
	margin: .25em;
	/*min-height: 36px;*/
	overflow: hidden;
	/*padding: 0 24px;*/
	padding: .725em 1em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	text-overflow: ellipsis;
	-webkit-transition: none;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

.Button:hover,
.Button:focus {
	background-color: rgba(255, 255, 255, 0.2);
	/*opacity: 0.9;*/
	outline: 0;
}

.Button:active {
	opacity: 1;
}

.Button:disabled,
.Button[disabled] {
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: not-allowed;
	opacity: 0.5;
}

.Button--disabled {
	background-color: #e0e0e0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	color: #424242;
	cursor: not-allowed;
	opacity: 0.5;
}

/* Custom styles modifiers */

.Button--primary {
	border: 3px solid #009688;
	color: #009688;
}

.Button--primary:active {
	color: #00796B;
}

.Button--light {
	color: #fff !important;
}

.Button--light:active {
	color: #e0e0e0 !important;
}

.Button--dark {
	border: 2px solid #323232;
	color: #262626 !important;
	-webkit-transition: background-color .2s ease, color .2s ease;
	-moz-transition: background-color .2s ease, color .2s ease;
	-ms-transition: background-color .2s ease, color .2s ease;
	-o-transition: background-color .2s ease, color .2s ease;
	transition: background-color .2s ease, color .2s ease;
}

.Button--dark:active {
	color: #323232 !important;
}

/* See .Pub-inner:hover/:focus on pub.css */
/*.Button--dark.Button--fill {*/
	/*background-color: #323232;*/
	/*color: #e0e0e0 !important;*/
/*}*/

.Button--squared {
	border-radius: 0;
}

.Button--black {
	background-color: #323232;
	border: 2px solid #262626;
	color: #e0e0e0 !important;
}

.Button--black:hover {
	background-color: #262626;
}

.Button--narrow {
	font-size: .725em;
	font-weight: 600;
	line-height: 30px;
	min-height: 0;
	padding: 0 1.5em;
}

@media (min-width: 768px) {

	.Button {
		/*font-size: 1em;*/
		/*line-height: 1.3;*/
	}

}