
/* Button - General Button */

.Button {
	background-clip: padding-box;
	background-color: transparent;
	background-image: url('../img/svg/btn-escuro.svg');
	background-size: 100% 100%;
	box-sizing: border-box;
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: .25em;
	overflow: hidden;
	padding: .5em 1.75em;
	min-width: 15em;
	max-width: 20em;
	min-height: 1.75em;
	line-height: 1.75em;
	letter-spacing: 1px;
	font-size: .875em;
	font-weight: 600;

	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	text-overflow: ellipsis;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

.Button--branco {
	color: black;
	background-image: url('../img/svg/btn-branco.svg');
}

.Button--branco.Button:hover,
.Button--branco.Button:focus {
	opacity: .85;
}

.Button--claro {
	color: black;
	background-image: url('../img/svg/btn-claro.svg');
}

.Button--claro.Button:hover,
.Button--claro.Button:focus {
	opacity: .85;
}

.Button:hover,
.Button:focus {
	opacity: .9;
}

.Button:active {
	opacity: 1;
}

.Button:disabled,
.Button[disabled] {
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: not-allowed;
	opacity: 0.5;
}

.Button--disabled {
	background-color: #e0e0e0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	color: #424242;
	cursor: not-allowed;
	opacity: 0.5;
}

.Button--narrow {
	font-size: .725em;
	font-weight: 600;
	min-width: 8em;
	line-height: 30px;
	min-height: 0;
	padding: 0 1.5em;
}

@media (min-width: 768px) {

	.Button {
		/*font-size: 1em;*/
		/*line-height: 1.3;*/
	}

}