
/* Connection traditional */

.ConnectionTraditional {
	flex: 1;
}

.ConnectionTraditional-email,
.ConnectionTraditional-phone {
	font-size: .875em;
	font-weight: 800;
	margin-bottom: .25em;
}

.ConnectionTraditional-email {
	display: none;
}

@media (min-width: 48em) {

	.ConnectionTraditional-email {
		display: block;
	}

	.social-icon.icon-mail-alt {
		display: none;
	}

	.ConnectionTraditional-email,
	.ConnectionTraditional-phone {
		font-size: 1em;
		font-weight: 700;
	}

}