
/* Franchise footer */

.FranchiseFooter {
	width: 100%;
	height: auto;
	position: relative;
}

.FranchiseFooter::after {
	position: absolute;
	top: 0;
	right: auto;
	bottom: auto;
	left: 0;
	width: 100%;
	height: 0;
	content: "";
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, .5);
}

/* FranchiseFooter background */

.FranchiseFooter-background {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

/* FranchiseFooter inner */

.FranchiseFooter-inner {
	position: relative;
	padding: 2em 0 1.5em;
	text-align: center;
}

/* FranchiseFooter items */

.FranchiseFooter-item {
	padding: 0 1.5em;
	margin-bottom: 2em;
}

/* FranchiseFooter address */
/* FranchiseFooter phone */

.FranchiseFooterAddress,
.FranchiseFooterPhone,
.FranchiseFooterMail,
.FranchiseFooterTime,
.FranchiseFooterCards {
	text-align: left;
	width: 100%;
}

.FranchiseFooterLogo,
.FranchiseFooterSocial {
	margin-bottom: 1em;
	text-align: center;
	width: 100%;
}

.FranchiseFooterAddress {
	margin-bottom: 1.5em;
}

.FranchiseFooterPhone,
.FranchiseFooterMail {
	margin-bottom: .5em;
	font-size: .975em;
}

.FranchiseFooterTime,
.FranchiseFooterCards {
	margin-bottom: 1em;
}

.FranchiseFooterAddress-icon {
	font-size: 3em;
}

.FranchiseFooterPhone-icon,
.FranchiseFooterMail-icon {
	font-size: 1.5em;
}

.FranchiseFooterSocial-icon {
	font-size: 2em;
	padding: .25em;
}

.FranchiseFooterCards-icon {
	font-size: 2em;
}

.FranchiseFooterAddress-icon.icon-location::before {
	margin: 0;
	width: 34px;
}

.FranchiseFooterCards-icon.icon-cc-visa::before {
	margin-left: 2px;
}

.FranchiseFooterSocial-icon.icon-tripadvisor::before {
	margin: 0;
	width: 50px;
}

.FranchiseFooterAddress-icon,
.FranchiseFooterPhone-icon,
.FranchiseFooterMail-icon,
.FranchiseFooterAddress-text,
.FranchiseFooterPhone-text,
.FranchiseFooterMail-text {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.FranchiseFooterTime-title,
.FranchiseFooterCards-title {
	font-size: 1.25em;
	margin-bottom: .25em;
}

.FranchiseFooterLogo {
	text-align: center;
}

.FranchiseFooterLogo svg {
	max-width: 10em;
}

@media(min-width: 48em) {

	.FranchiseFooter-inner {
		-webkit-align-items: flex-start;
		align-items: flex-start;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-around;
		justify-content: space-around;
		padding: 3.5em 0 2em;
	}

	.FranchiseFooter-item {
		padding: 0 .5em;
	}

	.FranchiseFooter-item--contact {
		min-width: 270px;
	}

	.FranchiseFooterSocial-icon {
		/*margin: .25em;*/
		padding: 0;
	}

}

@media(min-width: 60em) {

	.FranchiseFooter-item {
		padding: 0 1.5em;
	}

	.FranchiseFooterAddress-icon,
	.FranchiseFooterPhone-icon,
	.FranchiseFooterMail-icon {
		margin-right: .25em;
	}
}
