
/* Franchise Header */

.FranchiseHeader {
	width: 100%;
	height: auto;
	position: relative;
}

.FranchiseMain--internal .FranchiseHeader {
	max-height: 160px;
}

.FranchiseHeader-background {
	background-color: #301c09;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.FranchiseMain--internal .FranchiseHeader-background {
	background-color: #301c09;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("/dist/img/svg/background-madeira-escovada.svg");
	/* fundo-madeira-escovada-opt */
}

.FranchiseHeader-inner {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: column;
	flex-direction: column;
	min-height: 150px;
	margin: 0 auto;
	padding-top: 2em;
	position: relative;
}

.FranchiseMain--internal .FranchiseHeader-inner {
	/*padding: 1.5em 0;*/
	padding: 0;
	min-height: 140px;
	/*max-height: 140px;*/
}

@media (min-width: 48em) {

	.FranchiseHeader-inner {
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	.FranchiseMain--internal .FranchiseHeader-inner {
		padding: 1em 0 0;
	}

}