
/* Franchise Header Logo */

.FranchiseMain--internal .FranchiseHeaderLogo {
	-ms-flex-item-align: center;
	align-self: center;
}

.FranchiseHeaderLogo svg {
	height: 6em;
	width: auto;
}

.FranchiseMain--internal .FranchiseHeaderLogo svg {
	height: 5em;
}