
/* Franchise partnership */

.FranchisePartnership {
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 0;
}

/* Franchise partnership background */

.FranchisePartnership-background {
	background-image: url("../img/background-texture.jpg");
	background-repeat: repeat;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -1;
}

/* Franchise partnership inner */

.FranchisePartnership-inner {
	min-height: 250px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	color: white;
	padding: 4em 1.25em;
}

.FranchisePartnership-text {
	font-size: 1.25em;
	font-weight: 700;
	margin: 0 0 1em;
}

.FranchisePartnership-button {
	/*margin: 1em 0;*/
}

@media (min-width: 48em) {

	.FranchisePartnership-inner {
		padding: 6em 1.25em;
	}

}

@media (min-width: 60em) {

	.FranchisePartnership-text {
		margin: 0 0 2em;
	}

}