
/* Franchise Header Contact */

.FranchiseHeaderContact {
	/*margin: 1.5em 0;*/
	padding: .5em 0;
	text-align: right;
}

.FranchiseHeaderContact-inner {
	/*margin: 0 auto;*/
	padding-right: 1em;
}

.FranchiseHeaderContact-item {
	display: block;
}

@media (min-width: 35em) {

	.FranchiseHeaderContact-inner {
		margin: 0 auto;
		padding-right: 2em;
	}

	.FranchiseHeaderContact-item {
		display: inline-block;
	}

	.FranchiseHeaderContact-item:after {
		content: '\2022';
		margin: 0 .5em;
	}

	.FranchiseHeaderContact-item:last-of-type:after {
		content: '';
		padding-left: 0;
	}

}

@media (min-width: 48em) {



}