
/* Locations */

.Franchises {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	border-bottom: 2px solid #4c2f0f;
}

@media (min-width: 48em) {

	.Franchises {
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
	}

	.Franchises .Pub--assis,
	.Franchises .Pub--ourinhos,
	.Franchises .Pub--paraguacu {
		flex: 1;
	}

	/* centraliza assis (default => asc) */
	/*
	.Franchises .Pub--assis {
		order: 2;
	}
	.Franchises .Pub--ourinhos {
		order: 1;
	}
	.Franchises .Pub--paraguacu {
		order: 3;
	}
	*/

}

@media (min-height: 90em) {

	/* Display full layout on screens higher than 1000px (ipad) */

	.Intro {
		height: auto !important;
		padding-top: 15em;
	}

	.Guider {
		position: relative !important;
	}

	.Franchises {
		left: 0;
		position: relative;
		top: 0;
		width: 100%;
	}

}
