
/* Franchise Header Contact */

.FranchiseHeaderContact {
	/*margin: 1.5em 0;*/
	/*text-align: right;*/
	width: 100%;
}

.FranchiseHeaderContact-item--left {
	text-align: left;
}

.FranchiseHeaderContact-item--right {
	text-align: right;
}

.FranchiseHeaderContact-item--left,
.FranchiseHeaderContact-item--right {
	display: inline-block;
}

.FranchiseHeaderContact-item {
	display: block;
	padding: 1em .5em 1em .25em;
}

.FranchiseHeaderContact-item:hover {
	background-color: #cfa148;
	text-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.FranchiseHeaderContact-item--email {
	display: none;
}

.FranchiseHeaderContact-inner {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

@media (min-width: 35em) {

	.FranchiseHeaderContact-inner {
		margin: 0 auto;
		padding-right: 2em;
	}

}

@media (min-width: 48em) {

	.FranchiseHeaderContact-item {
		display: inline-block;
	}

	.FranchiseHeaderContact-item:last-of-type::after,
	.FranchiseHeaderContact-item.no-trailing-lg::after {
		content: '';
		display: none;
		padding-left: 0;
		margin: 0;
	}

	.FranchiseHeaderContact-inner {
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

}