
/* Franchise Header */

.FranchiseHeader {
	width: 100%;
	height: auto;
	position: relative;
}

.FranchiseMain--internal .FranchiseHeader {
	max-height: 160px;
}

.FranchiseHeader-background {
	background-color: #301c09;
	/*background: -moz-linear-gradient(top, rgb(68,42,13) 0%, rgb(68,42,13) 20%, rgb(48,28,9) 50%, rgb(48,28,9) 100%);*/
	/*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(68,42,13)), color-stop(20%, rgb(68,42,13)), color-stop(50%, rgb(48,28,9)), color-stop(100%, rgb(48,28,9)));*/
	/*background: -webkit-linear-gradient(top, rgb(68,42,13) 0%, rgb(68,42,13) 20%, rgb(48,28,9) 50%, rgb(48,28,9) 100%);*/
	/*background: -o-linear-gradient(top, rgb(68,42,13) 0%, rgb(68,42,13) 20%, rgb(48,28,9) 50%, rgb(48,28,9) 100%);*/
	/*background: -ms-linear-gradient(top, rgb(68,42,13) 0%, rgb(68,42,13) 20%, rgb(48,28,9) 50%, rgb(48,28,9) 100%);*/
	/*background: linear-gradient(to bottom, rgb(68,42,13) 0%, rgb(68,42,13) 20%, rgb(48,28,9) 50%, rgb(48,28,9) 100%);*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#442a0d', endColorstr='#301c09', GradientType=0 );*/

	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.FranchiseMain--internal .FranchiseHeader-background {
	/*background-color: red;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("../../dist/img/svg/fundo-madeira-escovada-escura-opt.svg");
	/* fundo-madeira-escovada-opt */
}

.FranchiseHeader-inner {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: column;
	flex-direction: column;
	min-height: 150px;
	margin: 0 auto;
	padding-top: 2em;
	position: relative;
}

.FranchiseMain--internal .FranchiseHeader-inner {
	/*padding: 1.5em 0;*/
	padding: 0;
	min-height: 140px;
	/*max-height: 140px;*/
}

@media (min-width: 48em) {

	.FranchiseHeader-inner {
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	.FranchiseMain--internal .FranchiseHeader-inner {
		padding: 1em 0;
		/*padding: 0;*/
	}

}