
/* Franq Section */

.FranqSection {
	position: relative;
	height: 650px;
	min-height: 110%;
	width: 100%;
	/*display: block;*/
	z-index: 1;
	/*border-bottom: 1.5em solid #5B382C;*/
	/*border-bottom: 1.5em solid #332B2A;*/
	/*border-bottom: 1.5em solid #1C110D;*/
	/*border-bottom: 1.5em solid #2A1913;*/

	-webkit-box-shadow: 0 -1px 15px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 -1px 15px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0 -1px 15px 1px rgba(0, 0, 0, 0.25);
}

/* Franq Section background */

.FranqSection-background {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	filter: alpha(Opacity=75);
	opacity: .75;
	width: 100%;
	z-index: -1;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.FranqSection-background::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #301c09;
	opacity: .65;
	z-index: 1;
}

/* Franq Section Inner */

.FranqSection-inner {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: column;
	flex-direction: column;

	padding: 1em 1em 1.5em;
	position: relative;
	width: 100%;
	height: 100%;
	/*max-width: 70em;*/
}

@media (min-width: 48em) {

	.FranqSection-inner {
		padding: 0 1.5em;
	}

	.FranqSection-background {
		background-attachment: fixed;
	}

}

@media (max-height: 20em) {

	.FranqSection.FranqSection--intro {
		/*padding-top: 65%;*/
	}

	.FranqSection--intro .FranqSectionBox {
		/*margin-bottom: 0;*/
	}
}