
/* Franq Section Box */

.FranqSectionBox {
	text-align: center;
	padding: 2em 1em;

	/*border-image-outset: 2em 1.5em;*/
	border-image-source: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMC4yMjI0ODhtbSIgaGVpZ2h0PSIzMC4yMjI0ODhtbSIgdmlld0JveD0iMCAwIDEwNy4wODc1NiAxMDcuMDg3NTUiPjxwYXRoIGZpbGw9IiNmZmYiIGZpbGwtb3BhY2l0eT0iLjI5MzcyOTM2IiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iOS45MTQ5OTk5NiIgZD0iTTM0LjY4NDQgOC41MDA3OUE2OS42ODUyNzIgNjkuNjg1MjcyIDAgMCAxIDguNTAwODEgMzQuNjQxNDJ2MzcuNzYxNzJhNjkuNjg1MjcyIDY5LjY4NTI3MiAwIDAgMSAyNi4xMzg2NyAyNi4xODM1OWgzNy43NjM2N2E2OS42ODUyNzIgNjkuNjg1MjcyIDAgMCAxIDI2LjE4MzYtMjYuMTQwNjJWMzQuNjg0MzlhNjkuNjg1MjcyIDY5LjY4NTI3MiAwIDAgMS0yNi4xNDA2My0yNi4xODM2SDM0LjY4NDR6Ii8+PC9zdmc+");
	border-image-repeat: round;
	border-image-slice: 50 fill;
	border-image-width: 25px;

	text-shadow: 1px 1px 5px rgba(0,0,0,.3);
}

.FranqSectionBox p {
	/*font-size: .875em;*/
	max-width: 36em;
	margin: 0 auto .25em;
	/*text-shadow: 1px 1px 5px rgba(0,0,0,.3);*/
}

.FranqSectionBox.FranqSectionBox--header {
	margin-top: 1em;
}

.FranqSectionBox--header-logo {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	display: block;
	text-decoration: none;
}

.FranqSectionBox--header-logo svg {
	width: 80%;
	max-width: 20em;
	margin-top: 2em;
}

@media (min-width: 48em) {

	.FranqSectionBox {
		/*background-color: #262626;*/
		/*background-color: rgba(76,76,76,.6);*/
		/*background-color: rgba(206,212,218,.4);*/
		/*background-color: rgba(167,168,174,.4);*/
		/*background-color: rgba(42, 25, 19, .6);*/
		/*border: 1px solid #A7A8AE;*/
		color: white;
		/*color: #323232;*/
		border-radius: 2px;
		padding: 3em 1.5em;
		/*position: relative;*/
		max-width: 30em;
		/*height: 25em;*/
		/*right: 1em;*/
		/*bottom: 3em;*/
		/*margin: 0 auto;*/
		/*display: inline-block;*/
		/*left: 100%;*/
	}

	.FranqSectionBox.FranqSectionBox--left {
		margin-right: auto;
	}

	.FranqSectionBox.FranqSectionBox--right {
		margin-left: auto;
	}

	.FranqSectionBox--header-logo svg {
		width: 100%;
		max-width: 25em;
		margin-bottom: 2em;
	}

	.FranqSectionBox p {
		font-size: 1.175em;
	}

}

@media (min-width: 60em) {

	.FranqSectionBox.FranqSectionBox--header {
		width: 100%;
		max-width: 65em;
	}

}