
/* Header Lower */

.HeaderLower {
	/*min-height: 3em;*/
	position: relative;
	width: 100%;
}

/* HeaderLower background */

.HeaderLower-background {
	background-color: #3E010A;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -1;
}

/* HeaderLower inner */

.HeaderLower-inner {
	padding: .5em;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;
}