
/* Franchise Page Highlighted Albums */

.HighlightedAlbum {
	width: 20em;
	height: 20em;
	margin: .25em;
	/*border: 2px solid #442a0d; !* marrom couro darker *!*/
	border: 1px solid #442a0d; /* marrom couro darker */
	position: relative;

	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}

.HighlightedAlbum--more .HighlightedAlbumContent-date {
	background-color: rgba(0, 0, 0, .9);
}

.HighlightedAlbumContent-date {
	display: inline-block;
	font-size: 1.5em;
	padding: .25em;
	min-width: 5em;
	background-color: rgba(0, 0, 0, .5);
	border: 2px solid #442a0d; /* marrom couro darker */
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.HighlightedAlbum:hover .HighlightedAlbumContent-date {
	background-color: rgba(0, 0, 0, .7);
	border-color: #301c09; /* marrom couro darkest */
}

.HighlightedAlbumContent-title {
	font-size: 1.25em;
	text-transform: uppercase;
	margin: .5em;
}

.HighlightedAlbum {
	overflow: hidden;
}

.HighlightedAlbum-background {
	width: 100%;
	height: 100%;
	background-color: black; /* fallback color */
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	/*opacity: .4;*/
	z-index: 1;
	-webkit-transition: transform .5s ease;
	-moz-transition: transform .5s ease;
	-ms-transition: transform .5s ease;
	-o-transition: transform .5s ease;
	transition: transform .5s ease;
}

.HighlightedAlbum:hover .HighlightedAlbum-background {
	transform: scale(1.025);
}

.HighlightedAlbum-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	opacity: .4;
	z-index: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.HighlightedAlbum:hover .HighlightedAlbum-overlay {
	opacity: .3;
}

.HighlightedAlbum--more .HighlightedAlbum-overlay {
	opacity: .7;
}

.HighlightedAlbum--more:hover .HighlightedAlbum-overlay {
	opacity: .8;
}

.HighlightedAlbumContent {
	color: #fafafa;
	font-family: 'Roboto Condensed', 'Roboto', sans-serif;
	z-index: 2;
}
