
/* Leading Title */

.LeadingTitle {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: column;
	flex-direction: column;
	margin: 0;
	padding: 0;

}

.LeadingTitle-orn {
	display: none;
}

.LeadingTitle-orn.LeadingTitle-orn--bot {
	display: block;
}

.LeadingTitle-orn.LeadingTitle-orn--bot.icon-orn-bot::before {
	width: 18em; /* this matches the size of the svg-icon, not the element, scale using font-size */
	text-align: center;
	/*font-size: 1.5em;*/
	margin: 1em auto 1.5em;
}

.LeadingTitle--simple .LeadingTitle-orn.LeadingTitle-orn--bot.icon-orn-bot::before {
	width: 20em;
	font-size: .725em;
	margin-right: 14px;
}

.LeadingTitle-text {
	font-family: 'High Noon', serif;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: .875;
	font-size: 4em;
	text-align: center;
	margin: 0;
	padding: 0;
}

.LeadingTitle--main .LeadingTitle-text {
	letter-spacing: 3px;
	font-size: 5em;
}

.LeadingTitle.LeadingTitle--simple .LeadingTitle-orn {
	display: block;
}

@media (min-width: 48em) {

	.LeadingTitle.LeadingTitle--main {
		-webkit-flex-direction: row;
		flex-direction: row;
	}

	.LeadingTitle--main .LeadingTitle-orn {
		display: inline-block;
	}

	.LeadingTitle-orn.icon-orn-left::before,
	.LeadingTitle-orn.icon-orn-right::before {
		width: 8em; /* this matches the size of the svg-icon, not the element, don't change it */
		font-size: 1.25em;
		margin: 0 0 .25em 0;
	}

	.LeadingTitle--main .LeadingTitle-orn.icon-orn-left::before,
	.LeadingTitle--main .LeadingTitle-orn.icon-orn-right::before {
		width: 8em;
		font-size: 1.5em;
		margin: 0 0 .25em 0;
	}

	.LeadingTitle-text {
		letter-spacing: 5px;
		font-size: 5em;
	}

	.LeadingTitle--main .LeadingTitle-text {
		/*letter-spacing: 5px;*/
		font-size: 7em;
	}

}

@media (min-width: 60em) {

	.LeadingTitle {
		-webkit-flex-direction: row;
		flex-direction: row;
	}

	.LeadingTitle.LeadingTitle--simple {
		-webkit-flex-direction: column;
		flex-direction: column;
	}

	.LeadingTitle-orn {
		display: inline-block;
	}

	.LeadingTitle-orn.LeadingTitle-orn--bot {
		display: none;
	}

	.LeadingTitle-orn.icon-orn-left::before,
	.LeadingTitle-orn.icon-orn-right::before {
		font-size: 2em;
	}

	.LeadingTitle--main .LeadingTitle-orn.icon-orn-left::before,
	.LeadingTitle--main .LeadingTitle-orn.icon-orn-right::before {
		font-size: 2.5em;
	}

}

@media (max-height: 20em) {

	.LeadingTitle--main .LeadingTitle-text {
		margin-top: .75em;
	}

}