
/* Logo */

.logo-pub-index {
	fill: #ebc373;
}

#franquias .logo-pub,
.FranchiseMain--internal .logo-pub {
	/*fill: #323232;*/
	fill: #ebc373;
	/*-webkit-transition: all .3s ease;*/
	/*-moz-transition: all .3s ease;*/
	/*-ms-transition: all .3s ease;*/
	/*-o-transition: all .3s ease;*/
	/*transition: all .3s ease;*/
}

#footer .logo-pub,
.logo-pub {
	fill: white;
	/*fill: #ebc373;*/
}

/*.Pub-inner:hover .logo-pub,*/
/*.Pub-inner:focus .logo-pub {*/
	/*fill: black;*/
/*}*/