
/* Logo */

.logo-pub {
	fill: white;
	/*fill: #ebc373;*/
}

.logo--shadow {
	-webkit-filter: drop-shadow( 1px 1px 5px rgba(0,0,0,.5));
	filter: drop-shadow( 1px 1px 5px rgba(0,0,0,.5));
}

.logo-pub-index {
	fill: #ebc373;
}

#franchises .logo-pub {
	/*fill: #323232;*/
	fill: #ebc373;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.Pub-inner:hover .logo-pub,
.Pub-inner:focus .logo-pub {
	fill: black;
}