
/* Navbar Logo */

.NavbarLogo {
	display: inline-block;
	margin: 2em 0 1em;
}

.NavbarLogo:active {
	outline: none;
	outline: 0;
}

.NavbarLogo:hover,
.NavbarLogo:focus {
	text-decoration: none;
}

.NavbarLogo svg,
.NavbarLogo img {
	display: inline-block;
	max-width: 10em;
	margin-top: 1em;
	width: 100%;
}

@media (min-width: 48em) {

	.NavbarLogo svg,
	.NavbarLogo img {
		max-width: 18em;
	}

}

@media (max-height: 20em) {

	.NavbarLogo svg,
	.NavbarLogo img {
		margin-top: 0;
	}

}