
/* Pub */

.Pub {
	-webkit-align-items: center;
	align-items: center;
	background-color: black;
	border-bottom: 1px solid #301c09;
	/*color: #000;*/
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 15em;
	z-index: 0;
	color: #fff;
}

/* Pub background */

.Pub-background {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	/*filter: alpha(Opacity=40);*/
	/*opacity: 0.4;*/
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -1;
}

.Pub-background:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #301c09;
	filter: alpha(Opacity=80);
	opacity: 0.8;
}

.Pub--assis .Pub-background,
.Pub--ourinhos .Pub-background,
.Pub--paraguacu .Pub-background {
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.Pub-inner {
	/*-webkit-align-items: center;*/
	/*align-items: center;*/
	/*background-color: #fff;*/
	/*background-color: rgba(255, 255, 255, 0.8);*/
	/*display: -webkit-box;*/
	/*display: -moz-box;*/
	/*display: -ms-flexbox;*/
	/*display: -webkit-flex;*/
	/*display: flex;*/
	/*-webkit-justify-content: space-around;*/
	/*justify-content: space-around;*/
	/*-webkit-flex-flow: column;*/
	/*flex-flow: column;*/
	width: 100%;
	padding: .75em 0;
	-webkit-transition: background-color .35s ease;
	-moz-transition: background-color .35s ease;
	-ms-transition: background-color .35s ease;
	-o-transition: background-color .35s ease;
	transition: background-color .35s ease;
	z-index: 0;
}

.Pub-inner:hover,
.Pub-inner:focus {
	/*background-color: rgba(255, 255, 255, 0.8);*/
}

.Pub-inner:hover .Btn--white,
.Pub-inner:focus .Btn--white {
	outline: 0;
	background-color: #e1e1e1;
	color: #000;
}

.Pub-logo {
	/*flex: 1;*/
	text-align: center;
	width: 100%;
}

.Pub-info {
	/*flex: 1;*/
	text-align: center;
}

.Pub-info p {
	color: white;
	margin-bottom: .5em;
	padding: 0 1em;
}

.Pub-logo svg {
	width: 100%;
	max-width: 10em;
	margin: 1em .5em;
}

.Pub-address {
	/*color: #161616;*/
	font-size: .925em;
	font-weight: 600;
	text-transform: uppercase;
}

.Pub-inner:hover .Pub-address,
.Pub-inner:focus .Pub-address {
	/*color: #000;*/
}

.Pub-contact {
	font-size: .9em;
}

@media (min-width: 48em) {

	.Pub {
		height: 20em;
	}

	.Pub-inner {
		/*background-color: rgba(255, 255, 255, 0.6);*/
		/*-webkit-flex-flow: column;*/
		/*flex-flow: column;*/
		padding: 1em 0;
	}

	.Pub-logo svg {
		max-width: 12em;
	}

	.Pub-address {
		font-size: 1em;
	}

	.Pub-contact {
		font-size: .925em;
	}

	.Pub-button {
		letter-spacing: 1px;
	}

}
