
/* Schedule section */

.Schedule {
	padding: 1em 0 3.5em;
	text-align: center;
}

@media (min-width: 48em) {

	.Schedule-list {
		-webkit-align-items: center;
		align-items: center;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
	}

}

@media (min-width: 90em) {

	.Schedule {
		padding-top: 3em;
	}

}
