
/* Tile half */

.Specials {
	text-align: center;
	position: relative;
	min-height: 100%;
	width: 100%;
	z-index: 1;
}

.Tile {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("/dist/img/bg-paper.jpg");
	text-align: center;
	width: 100%;
	position: relative;
}

#reservas .Tile,
#especiais .Tile {
	background: none;
}

#reservas .Tile {
	-webkit-box-shadow: 0 -1px 15px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 -1px 15px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0 -1px 15px 1px rgba(0, 0, 0, 0.25);
}

.TileHalf {
	padding: 2em 1.5em;
	text-shadow: 0 0 2px rgba(0,0,0,.2);
}

.TileHalf.TileHalf--background {
	height: 15em;
	overflow: hidden;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	box-shadow: inset 2px 1px 15px -2px rgba(0, 0, 0, 0.50), inset -2px -1px 15px -2px rgba(0, 0, 0, 0.50);
}

.TileHalf--especiais {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
	background-image: url("/dist/img/bg-paper.jpg");
	box-shadow: 2px 1px 15px -2px rgba(0, 0, 0, 0.50), -2px -1px 15px -2px rgba(0, 0, 0, 0.50);
	height: 100%;
	overflow: hidden;
	position: relative;
}

.TileHalf-subtitle {
	font-size: 1.25em;
	margin: .5em 0;
	font-weight: 800;
}

.TileHalf-text {
	margin: 0 auto .5em;
	font-size: 1.125em;
	/*max-width: 28rem;*/
	max-width: 30rem;
}

.TileHalf-subtext {
	font-size: 1em;
}

.TileHalf--especiais .TileHalf-text {
	text-align: left;
	font-size: 1em;
}

.TileHalf--especiais .TileHalf-text.TileHalf-textSub {
	font-size: .75em;
	text-align: right;
	font-weight: bold;
}

.TileHalf--especiais .TileHalf-textTitle {
	font-size: 1.125em;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: .1em;
}

/*.TileHalf--center {*/
	/*text-shadow: 0 0 2px rgba(0,0,0,.2);*/
/*}*/

.TileHalf--center .LeadingTitle {
	font-size: 1.25em;
}

.TileHalf--center .LeadingTitle-text {
	text-transform: uppercase;
	line-height: .75;
}

.TileHalf--center .LeadingTitle-orn.LeadingTitle-orn--bot.icon-orn-bot::before {
	margin-top: 0;
}

.TileHalf-mapa svg {
	max-width: 250px;
	height: auto;
	min-height: 0;
}

.TileHalf.TileHalf-info {
	padding-bottom: 3em;
	padding-top: 3em;
}

.TileHalf-button {
	margin-top: 1.5em;
}

@media (min-width: 48em) {

	.TileHalf.TileHalf-info {
		padding-top: 4em;
	}

	.TileHalf.TileHalf--background {
		height: 20em;
	}

	.TileHalf-mapa svg {
		max-width: 350px;
	}

	#especiais .Tile-inner {
		width: 100%;
	}

	#especiais .TileHalf.TileHalf--especiais {
		box-shadow: none;
		box-shadow: -10px 0 8px -8px rgba(0, 0, 0, 0.5), 10px 0 8px -8px rgba(0, 0, 0, 0.5);
	}

}

@media (min-width: 60em) {

	.Tile {
		/*-webkit-flex-wrap: wrap;*/
		/*flex-wrap: wrap;*/
		/*list-style: none;*/
		margin: 0;
		padding: 0;
		position: relative;
		min-height: 100%;
		width: 100%;
		z-index: 1;
	}

	.TileHalf.TileHalf--background {
		height: auto;
	}

	.Tile-inner {
		-webkit-align-items: stretch;
		align-items: stretch;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-around;
		justify-content: space-around;
		height: 650px;
		min-height: 105vh;
	}

	.Tile-right {
		-webkit-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}

	.TileHalf {
		padding: 2em;
		position: relative;
	}

	.TileHalf.TileHalf--background,
	.TileHalf.TileHalf-info {
		flex: 0 0 50%;
	}

	.TileHalf-text {
		max-width: 33rem;
		font-size: 1.25em;
	}

	.TileHalf-subtitle {
		font-size: 1.5em;
	}

	.TileHalf--center {
		align-self: center;
	}

	.TileHalf--start {
		align-self: flex-start;
	}

	/*.TileHalf-mask {*/
		/*width: 100%;*/
		/*height: 100%;*/
		/*!*background-color: white;*!*/
		/*position: absolute;*/
		/*top: 0;*/
		/*right: 0;*/
		/*opacity: .4;*/
	/*}*/

	.TileHalf--center .LeadingTitle {
		font-size: 1.5em;
	}

	.TileHalf-mapa svg {
		max-width: 400px;
	}




	.FranchiseMain--internal .TileHalf--background {
		background: none;
		box-shadow: none;
		border: none;
	}

	#reservas .Tile-inner {
		height: 450px;
		min-height: calc(100vh - 180px);
	}

	#reservas .Tile-right {
		-webkit-flex-direction: row;
		flex-direction: row;
	}

	#reservas .TileHalf {
		padding: 0;
		flex: 0 0 45%;
	}

    #especiais .TileHalf.TileHalf--especiais {
	    -webkit-align-items: center;
	    align-items: center;
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-justify-content: center;
	    justify-content: center;
    }

	#especiais .Tile.Tile--expand,
	#especiais .Tile.Tile--expand .Tile-inner {
		min-height: 900px;
	}

}

@media (min-width: 80em) {

	.TileHalf-mapa svg {
		max-width: 100%;
		max-height: 400px;
	}

	#especiais .TileHalf {
		flex: 0 0 60%;
	}

	#especiais .TileHalf.TileHalf--especiais {
		flex: 0 0 40%;
	}

}